<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/view.css" rel="stylesheet" /> 
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script> 
    <title>QNA</title>
</head>
<body>
    <div class="header question">
        <span style="color:whitesmoke; font-size: 27px;font-weight:bold;margin-left:5px;"
        onclick='addDummyQuestion()'>
            Q&A
        </span>
        <input type='button' value='Ask Question' 
        id = "ask_btn"
        onclick='toggleQuestionInputBox()' >
    </div>
    <div id = "question_postbox" style="display:none;">
        <input type=text id="p_qtitle" placeholder="질문 제목을 입력하세요" maxlength="65"><hr>
        <textarea id = "p_qcontents" cols=95 wrap="hard" placeholder="구체적인 질문 내용을 입력하세요."></textarea>
        <input type=hidden name="user_id" value="stdnt_01">
        <br>
        <button onclick="addQuestion()" class="q_medium_btn" style="position:relative;left:94%;font-size:16px">
            Ask!
        </button>
    </div>
    <br>
    <div id = "question_board">
        <div id = 'qnaModal'>
            <div id ='qnaModal_contents'>
                <span id='modal_close' class='close'> x </span>
                <br>
                <div id = 'qnaModal_qTitle' class='headline4'></div>
                <div id = 'qnaModal_qDate' class='inline-date'></div>
                <hr>
                <div id = 'qnaModal_qContents' class='qcontents'></div>
                <hr>
                <span class='headline4'>A.</span>
                <div id = 'qnaModal_anwerContents' class='answer_contents'></div>
            </div>
        </div>
        <div id = "my_questions">
        </div>
        <div id = "fixed_questions">
        </div>
        <div id = "questions">
        </div>
    </div>

    <script>
        var modal_close = document.getElementById('modal_close');
        modal_close.addEventListener("click", function() {
            modal.style.display = 'none'; 
            document.getElementById('qnaModal_qTitle').innerHTML=''
            document.getElementById('qnaModal_qDate').innerHTML=''
            document.getElementById('qnaModal_qContents').innerHTML=''
            document.getElementById('qnaModal_anwerContents').innerHTML=''
            document.getElementById('input_answer').innerHTML=''
        });

        function toggleQuestionInputBox() {
            const postbox = document.getElementById("question_postbox");
            
            if(postbox.style.display === 'none')  {
                postbox.style.display = 'block';
              }else {
                postbox.style.display = 'none';
              }
        }
        
        function addQuestion() {
            const postbox = document.getElementById("question_postbox");
            var title = document.getElementById("p_qtitle");
            var contents = document.getElementById("p_qcontents");
            if (!title.value || !contents.value) {
                alert("질문 제목과 내용을 모두 작성하세요.");
                return
            }
    
            const newDiv = document.createElement('div');
            newDiv.setAttribute('class','question_box');
            
            const questionBoxContents = document.createElement('div');
            questionBoxContents.setAttribute('class', 'question_box_contents')

            const mark = document.createElement('span');
            mark.setAttribute('class','mark_question my')
            mark.innerHTML='MY'

            const newTitle = document.createElement('span');
            newTitle.setAttribute('class','qtitle')
            newTitle.appendChild(document.createTextNode(title.value));

            var date = new Date();
            const createdDate = document.createElement('span')
            createdDate.setAttribute('class','inline-date')
            createdDate.innerHTML = date

            const closeButton = document.createElement('span');
            closeButton.appendChild(document.createTextNode('x'));
            closeButton.setAttribute('class','close');
            closeButton.addEventListener("click", function() {
                var r= confirm("질문을 삭제하시겠습니까?")
                if (r==true) {
                    this.parentElement.style.display = 'none';
                }
            });

            const newContents = document.createElement('p');
            newContents.setAttribute('class', 'qcontents')
            newContents.appendChild(document.createTextNode(contents.value));

            const answerContents = document.createElement('div');
            answerContents.setAttribute('class','answer_contents hide')
            
            // text node를 new div에 추가
            questionBoxContents.appendChild(mark)
            questionBoxContents.appendChild(newTitle);
            questionBoxContents.appendChild(createdDate);
            questionBoxContents.appendChild(document.createElement('hr'));
            questionBoxContents.appendChild(newContents);
            questionBoxContents.appendChild(answerContents)
            questionBoxContents.onclick = function() {showFullQnA(this)}

            newDiv.appendChild(closeButton);
            newDiv.appendChild(questionBoxContents);
            
            title.value="";
            contents.value="";
            postbox.style.display ="none";
            // new div를 기존 div에 추가
            document.getElementById('my_questions').prepend(newDiv);
        }

        function showFullQnA (qbox_obj) {
            modal = document.getElementById('qnaModal')
            modal_contents = document.getElementById('qnaModal_contents');

            modal_qTitle = document.getElementById('qnaModal_qTitle')
            modal_qDate = document.getElementById('qnaModal_qDate')
            modal_qContents = document.getElementById('qnaModal_qContents')
            modal_answer = document.getElementById('qnaModal_anwerContents')

            title = qbox_obj.getElementsByClassName('qtitle')[0].innerHTML;
            date = qbox_obj.getElementsByClassName('inline-date')[0].innerHTML;
            contents = qbox_obj.getElementsByClassName('qcontents')[0].innerHTML;
            answer = qbox_obj.getElementsByClassName('answer_contents hide')[0].innerHTML;
            
            modal_qTitle.innerHTML = 'Q. '+title
            modal_qDate.innerHTML = date
            modal_qContents.innerHTML = contents
            if(answer ==''){
                modal_answer.innerHTML = '작성된 답변이 없습니다.'
            }
            else{
                modal_answer.innerHTML = answer
            }
            
            modal.style.display = 'block';
        }        

        function addDummyQuestion() {
            // new div 생성
            newDiv = document.createElement('div');
            newDiv.setAttribute('class','question_box');
            
            const newTitle = document.createElement('span');
            newTitle.setAttribute('class','qtitle')
            newTitle.appendChild(document.createTextNode('(dummy for test) question title on here'));
            
            var date = new Date();
            const createdDate = document.createElement('span')
            createdDate.setAttribute('class','inline-date')
            createdDate.innerHTML = date
            
            const newContents = document.createElement('p');
            newContents.setAttribute('class', 'qcontents')
            newContents.appendChild(document.createTextNode('(dummy fot test) contents of question on here'));
            
            const answerContents = document.createElement('div');
            answerContents.setAttribute('class','answer_contents hide')
            answerContents.innerHTML = 'some answers'

            newDiv.appendChild(newTitle);
            newDiv.appendChild(createdDate);
            newDiv.appendChild(document.createElement('hr'))
            newDiv.appendChild(newContents);
            newDiv.appendChild(answerContents)
            newDiv.onclick = function() {showFullQnA(this)}

            // new div를 기존 div에 추가
            document.getElementById('questions').prepend(newDiv);
        }
    
        

    </script>
</body>
</html>