<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--여기부터-->
    <link href="../static/view.css" rel="stylesheet" /> 
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script> 
    <!--여기까지 레이아웃, 펼쳐지는 메뉴 등과 같은 기능 라이브러리-->
    <title>Student_page</title>
</head>
<body>
  <div class = "header">
    <div id = "user_info_area">
      <div class = "header_info">
			<img  src="../image/user.png"  
				 style = "width:50px; 
						  height:50px; 
						  float: left;
						  margin-right: 10px; ">
			<div class = "info">
				<span>
				<b>USERNAME (학생) </b> <br>
				<b>ID NUMBER </b>
				</span>
		</div>
	  </div>
    </div>
  </div>

  <div class = "row">

    <div class="column wid15" > <!--이 영역이 메뉴 영역-->
      <div class="lec_box" style="background-color: lightgray; height: auto; min-height: 500px; ">
        
        <div style="text-align: center;background-color:cornflowerblue;font-size:large" width="100"><b>수강목록</b></div>
        <div>
          <ul>
            <li class="menu"> <a>수업1</a>
              <ul class="hide">
                <li><b>main</b></li>
                <li><a href="stdnt_learn1.html">Lesson 1</a></li>
                <li><a href="stdnt_learn2.html">Lesson 2</a></li>
                <li><a href="stdnt_learn3.html">Lesson 3</a></li>
                
              </ul>
            </li>
            
            <li class="menu"> <a>수업2</a>
              <ul class="hide">
                <li><b>main</b></li>
                <li>메뉴2-2</li>
                <li>메뉴2-3</li>
                <li>메뉴2-4</li>
                <li>메뉴2-5</li>
                <li>메뉴2-6</li>
              </ul>
            </li>

          </ul>
			
        </div>
	    <span >
      <input type="text" name="username" style = "width: 120px; height: 20px; text-align: left; margin-top: 372px; margin-left: 5px;" placeholder="강의명 검색"> 
	 </span>
		</div>
	 	  
</div>
    
    
    <div class="column wid85"> <!--이 영역이 디스플레이 영역-->
      <div id="lec_discrip"  >
		  <div class="header">
			  <h4>"수업이름"</h4></div>
         <div class="lec_ing"> 
                <table class="lec_table"> 
                
                <colgroup><col width="104px" /><col /></colgroup> 
                <tbody> 
                <tr> 
                    <th style="height: 40px;">나의 진도 </th> 
                    <th style="height: 40px; width: 78%"> <div><progress value="24" max="100" id="jb"> </progress> </div> </th>
                    <th style="height: 40px; width: 4%; padding-left: 2%; ">24%</th>
             
                </tr> 
                
                <tr> 
                    <th style="height: 40px;">권장 진도</th> 
                    <th style="height: 40px; width: 78%"> <div><progress value="40" max="100" id="jb"> </progress> </div> </th>
                    <th style="height: 40px; width: 4%; padding-left: 2%; ">40%</th>
                </tr> 
                <tr> 
                    <th style="height: 40px;">평균 진도</th> 
                    <th style="height: 40px; width: 78%"> <div><progress value="30" max="100" id="jb"> </progress> </div> </th>
                    <th style="height: 40px; width: 4%; padding-left: 2%; ">30%</th>
                </tr> 
                </tbody> 
                </table> 
            </div> 
      
		</div>
      <div id="lec_list_table"  class="column half">
        <h4 style=" background-color:cornflowerblue; margin-right: 2pt">수업목록</h4>
        <table style="width: 100%; border-width: none;">
		<tr style="background-color:lightgrey; ">
				   
			<th width="18%" style="border-left-style: none">No.</th>
			<th width="41%" style="border-left-style: none">title</th>		
			<th width="41%" style="border-left-style: none">hw</th>
		</tr>
		<tr>
			<td>1</td>
			<td><a href="stdnt_learn1.html">Lesson 1</a></td>		
			<td><a href="stdnt_hmwrk1.html">Homework 1</a></td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="stdnt_learn2.html">Lesson 2</a></td>		
			<td><a href="stdnt_hmwrk2.html">Homework 2</a></td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="stdnt_learn3.html">Lesson 3</a></td>		
			<td><a href="stdnt_hmwrk3.html">Homework 3</a></td>
		</tr><tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
			<td>&nbsp;</td>
		</tr>
	</table>
      </div>
      
      <div id="notice_table" class="column half" >
        <h4  style="background-color:darkgoldenrod; margin-left: 2pt" >공지사항</h4>
       <table style="width:100% ; border-bottom: medium;">
		  <tr style="background-color:lightgrey">
			<th width="30%">date&nbsp;</th>
			<th width="70%">notice</th>		
			
		</tr>
		<tr>
			<td class="date">2021.05.30</td>
			<td>title</td>		
			
		</tr>
		
		<tr>
			<td class="date">...</td>
			<td>&nbsp;</td>		
		
		</tr>
		<tr>
			<td class="date">&nbsp;</td>
			<td>&nbsp;</td>		
			
		</tr><tr>
			<td class="date">&nbsp;</td>
			<td>&nbsp;</td>		
			
		</tr>
	</table>
		 
      </div>
    

    </div>

  </div>  

<!--여기 아래부터 자바 스크립트 코드.-->
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  <script>
    /*펼쳐지는 메뉴 관련 Jquery 스크립트*/
      $(document).ready(function(){
        $(".menu>a").click(function(){
        $(this).next("ul").toggleClass("hide");
        });
        });
  </script>
</body>
</html>