<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/view.css" rel="stylesheet" /> 
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script> 
    <title>QNA-Teacher</title>
</head>
<body>
    <div class="header question">
        <span style="color:whitesmoke; font-size: 27px;font-weight:bold;margin-left:5px;"
        onclick='addDummyQuestion()'>
            Q&A
        </span>
    </div>
    <br>
    <div id = "question_board">
        <div id = 'qnaModal'>
            <div id ='qnaModal_contents'>
                <input id = "pin_btn" type="button" value="Pin this Q&A" class='q_medium_btn'>
                <span id='modal_close' class='close'> x </span>
                <br>
                <div id = 'qnaModal_qTitle' class='headline4'></div>
                <div id = 'qnaModal_qDateUser' class='inline-date'></div>
                <hr>
                <div id = 'qnaModal_qContents' class='qcontents'></div>
                <hr>
                <span class='headline4'>A.</span>
                <div id = 'qnaModal_anwerContents' class='answer_contents'></div>
                <textarea id="input_answer" cols=107 wrap='hard' ></textarea>
                <input id = "answer_btn" type="button" value='Answer!' class='q_medium_btn' style="float:right;font-size:20px;">
            </div>
        </div>
        <div id = "fixed_questions">
        </div>
        <div id = "questions">
        </div>
    </div>

    <script>
        var modal_close = document.getElementById('modal_close');
        modal_close.addEventListener("click", function() {
            modal.style.display = 'none'; 
            document.getElementById('qnaModal_qTitle').innerHTML=''
            document.getElementById('qnaModal_qDateUser').innerHTML=''
            document.getElementById('qnaModal_qContents').innerHTML=''
            document.getElementById('qnaModal_anwerContents').innerHTML=''
            document.getElementById('input_answer').innerHTML=''
        });

        function postAnswer(qbox_obj){
            btn = document.getElementById('answer_btn')
            modal_answer = document.getElementById('qnaModal_anwerContents')
            text_area = document.getElementById('input_answer')

            if (btn.value == 'Answer!'){
                modal_answer.style.display='none'
                text_area.style.display='block'
                
                if (modal_answer.innerHTML != '작성된 답변이 없습니다.'){
                    text_area.value = modal_answer.innerHTML
                }
                btn.setAttribute('value','DONE!')
            }
            else {

                if (text_area.value != ''){
                    modal_answer.innerHTML=text_area.value
                    qbox_obj.getElementsByClassName('answer_contents hide')[0].innerHTML = modal_answer.innerHTML
                    modal_answer.style.display='block'
                    text_area.style.display='none'
                    btn.setAttribute('value','Answer!')
                }
                else {
                    var r= confirm("작성된 내용이 없습니다. 내용을 삭제한 경우 작성했던 정보는 저장되지 않으니 유의하시기 바랍니다.")
                    if (r==true) {
                        modal_answer.innerHTML = '작성된 답변이 없습니다.'
                        qbox_obj.getElementsByClassName('answer_contents hide')[0].innerHTML = ''
                        modal_answer.style.display='block'
                        text_area.style.display='none'
                        btn.setAttribute('value','Answer!')
                    }
                }
            }
        }
        
        function showFullQnA (qbox_obj) {
            modal = document.getElementById('qnaModal')
            modal_contents = document.getElementById('qnaModal_contents');

            modal_qTitle = document.getElementById('qnaModal_qTitle')
            modal_qDateUser = document.getElementById('qnaModal_qDateUser')
            modal_qContents = document.getElementById('qnaModal_qContents')
            modal_answer = document.getElementById('qnaModal_anwerContents')

            title = qbox_obj.getElementsByClassName('qtitle')[0].innerHTML;
            date = qbox_obj.getElementsByClassName('inline-date')[0].innerHTML;
            user = qbox_obj.getElementsByClassName('q_user_id')[0].innerHTML;
            contents = qbox_obj.getElementsByClassName('qcontents')[0].innerHTML;
            answer = qbox_obj.getElementsByClassName('answer_contents hide')[0].innerHTML;
            
            modal_qTitle.innerHTML = 'Q. '+title
            modal_qDateUser.innerHTML = date+'by. \''+user+'\''
            modal_qContents.innerHTML = contents
            if(answer ==''){
                modal_answer.innerHTML = '작성된 답변이 없습니다.'
            }
            else{
                modal_answer.innerHTML = answer
            }
            
            /* 교사 선택지 */
            answer_btn = document.getElementById('answer_btn')
            answer_btn.onclick = function() {
                postAnswer(qbox_obj)
            }

            
            if (qbox_obj.parentNode.id == 'questions'){
                pin_btn = document.getElementById('pin_btn')
                pin_btn.setAttribute('value','Pin this Q&A')
                pin_btn.onclick = function() {
                    pinQuestion(qbox_obj,0)
                }
            }
            else if (qbox_obj.parentNode.id == 'fixed_questions'){
                pin_btn = document.getElementById('pin_btn')
                pin_btn.setAttribute('value','Remove pin')
                pin_btn.onclick = function() {
                    pinQuestion(qbox_obj,1)
                }
            }
            
            modal.style.display = 'block';
        }        

        function addDummyQuestion() {
            // new div 생성
            newDiv = document.createElement('div');
            newDiv.setAttribute('class','question_box');
            
            const newTitle = document.createElement('span');
            newTitle.setAttribute('class','qtitle')
            newTitle.appendChild(document.createTextNode('(dummy for test) question title on here'));
            
            var date = new Date();
            const createdDate = document.createElement('span')
            createdDate.setAttribute('class','inline-date')
            createdDate.innerHTML = date
            
            var userid = 'user'+(Math.floor(Math.random()*50))
            postUser = document.createElement('span')
            postUser.setAttribute('class', 'q_user_id')
            postUser.innerHTML='  by. '+userid

            const newContents = document.createElement('p');
            newContents.setAttribute('class', 'qcontents')
            newContents.appendChild(document.createTextNode('(dummy fot test) contents of question on here'));
            
            const answerContents = document.createElement('div');
            answerContents.setAttribute('class','answer_contents hide')
            answerContents.innerHTML = 'some answers'

            newDiv.appendChild(newTitle);
            newDiv.appendChild(createdDate);
            newDiv.appendChild(postUser)
            newDiv.appendChild(document.createElement('hr'))
            newDiv.appendChild(newContents);
            newDiv.appendChild(answerContents)
            newDiv.onclick = function() {showFullQnA(this)}

            // new div를 기존 div에 추가
            document.getElementById('questions').prepend(newDiv);
        }
    
        function pinQuestion (qbox_obj, _flag) {
            clone = qbox_obj.cloneNode(true)
            clone.onclick = function() {showFullQnA(this)}

            if (_flag == 0) {
                mark = document.createElement('span');
                mark.setAttribute('class','mark_question pin')
                mark.innerHTML='pinned'
                clone.prepend(mark)
                document.getElementById('fixed_questions').appendChild(clone)
                alert('질문이 고정되었습니다!')
            }
            else if (_flag == 1){
                mark = clone.getElementsByClassName('mark_question pin')[0]
                clone.removeChild(mark)
                document.getElementById('questions').appendChild(clone)
                alert('질문이 고정 해제 되었습니다.')
            }
            modal.style.display = 'none'; 
            document.getElementById('qnaModal_qTitle').innerHTML=''
            document.getElementById('qnaModal_qDateUser').innerHTML=''
            document.getElementById('qnaModal_qContents').innerHTML=''
            document.getElementById('qnaModal_anwerContents').innerHTML=''
            document.getElementById('input_answer').innerHTML=''
            qbox_obj.style.display='none';
        }

    </script>
</body>
</html>