<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher page</title>
    <link href="../static/view.css" rel="stylesheet" />
    
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script> 
    <!--여기까지 레이아웃, 펼쳐지는 메뉴 등과 같은 기능 라이브러리-->
</head>
<body id="body">
  <div class = "header">
    <div id = "user_info_area">
      <div class = "header_info">
			  <img class="userID" src="../image/user.png">
			  <div class = "info">
				  <span>
				  <b>USER NAME (교수) </b> <br>
				  <b>ID NUMBER </b>
				  </span>
		    </div>
	    </div>
    </div>
  </div>

 <!--  <hr style="border-color: lightgray;">  -->
  <div class = "row">

    <div class="column wid15" > <!--이 영역이 메뉴 영역-->
     
      <div class='lec_box'>
        <a class='menu_title'>수업 목록</a>
        
          <ul>
            <li class="menu"> <a>인간과 컴퓨터 상호작용</a>
              <ul class="hide">
                <li><b>Home</b></li>
                <li><a href="tcher_learn1.html">Lesson 1</a></li>
                <li><a href="tcher_learn2.html">Lesson 2</a></li>
                <li><a href="tcher_learn3.html">Lesson 3</a></li>
				        <button>+ 수업 추가</button>
                
              </ul>
             </li>
             <li class="menu"> <a>수업2</a>
              <ul class="hide">
                <button>+ 수업 추가</button>
              </ul>
            </li>
            <li class="menu"> <a>수업3</a>
              <ul class="hide">
                <button>+ 수업 추가</button>
              </ul>
            </li>
			  <p></p><oi class="menu" >  </oi>
        <a><button>신규 강의 개설</button></a>
           </ul>
           
		</div>
	 	  
</div>
        
    <div class="column wid85"> <!--이 영역이 디스플레이 영역-->
      <div id="lec_discrip"  >
		  <div class="header2">
			  <h2 style="text-align:center;margin:0px;">인간과 컴퓨터 상호작용</h2></div>
       
        <div class="lec_ing"> 
          <table class="lec_table"> 
          
          <colgroup><col width="120px" /><col /></colgroup> 
          <tbody> 
          
          <tr> 
              <th style="height: 40px;width: 16%">권장 진도</th> 
              <th style="height: 40px; width: 78%"> <div><progress value="40" max="100" id="jb"> </progress> </div> </th>
              <th style="height: 40px; width: 4%; padding-left: 2%; ">40%</th>
                
          </tr> 
          <tr> 
              <th style="height: 40px; width: 16%">학생 평균 진도</th> 
              <th style="height: 40px; width: 78%"> <div><progress value="30" max="100" id="jb"> </progress> </div> </th>
              <th style="height: 40px; width: 4%; padding-left: 2%; ">30%</th>
          </tr> 
          </tbody> 
          </table> 
      </div> 
      
     
      <div id="lec_list_table" style="height: 100%;" class="column half" >
        
        <h3 style=" background-color:cornflowerblue; margin-right: 2pt">강의 목록</h3>
       
      <div>
    <table id = "table_1" style="width: 100%; ">
    <tr style="background-color:lightgrey; " height="30px">
           
      <th width="12%" style="border-left-style: none">No.</th>
      <th width="41%" style="border-left-style: none">제목</th>		
      <th width="41%" style="border-left-style: none">과제</th>
    </tr>
    <tr height="30px">
      <td>1</td>
      <td><a href="tcher_learn1.html">Lesson1</a></td>		
      <td><a href="tcher_hmwrk1.html">Homework1</a></td>
    </tr>
    <tr height="30px">
      <td>2</td>
      <td><a href="tcher_learn2.html">Lesson2</a></td>		
      <td><a href="tcher_hmwrk2.html">Homework2</a></td>
    </tr>
    <tr height="30px">
      <td>3</td>
      <td><a href="tcher_learn3.html">Lesson3</a></td>		
      <td></td>  
    </tr><tr height="30px">
      <td></td>
      <td></td>		
      <td></td>
    </tr><tr height="30px">
      <td></td>
      <td></td>		
      <td></td>
    </tr><tr height="30px">
      <td></td>
      <td></td>		
      <td></td>
    </tr><tr height="30px">
      <td></td>
      <td></td>		
      <td></td>
    </tr>
    
  </table>
  
  <table id = "table_2" style="width: 100%; border-width: none; display: none;">
    <tr style="background-color:lightgrey; " height="30px">
           
      <th width="12%" style="border-left-style: none">No.</th>
      <th width="41%" style="border-left-style: none">제목</th>		
      <th width="41%" style="border-left-style: none">과제</th>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr><tr height="30px">
      <td></td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td></td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr><tr height="30px">
      <td></td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td></td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr height="30px">
  </table>
  <table id = "table_3" style="width: 100%; border-width: none; display: none;">
    <tr height="30px" style="background-color:lightgrey; ">
           
      <th width="12%" style="border-left-style: none">No.</th>
      <th width="41%" style="border-left-style: none">제목</th>		
      <th width="41%" style="border-left-style: none">과제</th>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr><tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr><tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      <td>&nbsp;</td>
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
  
    </table>
  </div> 
      <div style="margin-top: 20px;"><span>
      <button id = "bt_1"  style="margin-right: 5px; padding-left: 5px; padding-right: 5px; cursor:pointer;" > <</button>
      <b id = "index"> 1 </b>
      <button id = "bt_2"   style="margin-left: 5px; padding-left: 5px; padding-right: 5px; cursor:pointer;" >></button>
      </span>
      </div>
   </div>  
   <!--아래부터 공지사항-->
      <div id="notice_table" class="column half" >
        <h3 style="background-color:cornflowerblue; margin-left: 2pt" >공지사항</h3>
        <div>  
       <table id = "table_n1" style="width:100% ; border-bottom: medium;">
      <tr height="30px" style="background-color:lightgrey">
      <th width="30%">date&nbsp;</th>
      <th width="70%">notice</th>		
      
    </tr>
    <tr height="30px">
      <td class="date">2021.05.30</td>
      <td>강의 안내</td>		
      
    </tr>
    
    <tr height="30px">
      <td class="date">2021.06.03</td>
      <td>과제 제출 안내</td>		
    
    </tr>
    <tr height="30px">
      <td class="date"></td>
      <td></td>		
      
    </tr><tr height="30px">
      <td class="date">&nbsp;</td>
      <td>&nbsp;</td>		
      
    </tr>
    <tr height="30px">
      
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
    <tr height="30px">
      
      <td>&nbsp;</td>		
      <td>&nbsp;</td>
    </tr>
  </table>
  <table id = "table_n2" style="width:100% ; border-bottom: medium; display: none;">
    <tr height="30px" style="background-color:lightgrey">
    <th width="30%">date&nbsp;</th>
    <th width="70%">notice</th>		
    
  </tr>
  <tr height="30px">
    <td class="date"></td>
    <td>&nbsp;</td>		
    
  </tr>
  
  <tr height="30px">
    <td class="date"></td>
    <td>&nbsp;</td>		
  
  </tr>
  <tr height="30px">
    <td class="date">&nbsp;</td>
    <td>&nbsp;</td>		
    
  </tr><tr height="30px">
    <td class="date">&nbsp;</td>
    <td>&nbsp;</td>		
    
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  </table> <table id = "table_n3" style="width:100% ; border-bottom: medium; display: none;">
  <tr height="30px" style="background-color:lightgrey">
  <th width="30%">date&nbsp;</th>
  <th width="70%">notice</th>		
  </tr>
  <tr height="30px">
  <td class="date">&nbsp;</td>
  <td>&nbsp;</td>		
  </tr>
  <tr height="30px">
  <td class="date">&nbsp;</td>
  <td>&nbsp;</td>		
  
  </tr><tr height="30px">
  <td class="date">&nbsp;</td>
  <td>&nbsp;</td>		
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  <tr height="30px">
      
    <td>&nbsp;</td>		
    <td>&nbsp;</td>
  </tr>
  </table>
      </div>
      <div style="margin-top: 20px;"><span>
      <button id = "btn_1"  style="margin-right: 5px; padding-left: 5px; padding-right: 5px; cursor:pointer;" > <</button>
      <b id = "index_n"> 1 </b>
      <button id = "btn_2"  style="margin-left: 5px; padding-left: 5px; padding-right: 5px; cursor:pointer;" >></button>
      </span>
    </div>
  
    
    </div>
  </div>  

<!--여기 아래부터 자바 스크립트 코드.-->
<!-- 임시 로그 아웃 기능을 유저 정보 표시구역에 구현-->
<script> 
  document.getElementById('user_info_area').addEventListener('click', function()
  {
    window.location.href = "login_page.html";
  });
</script>
<!--임시 로그아웃 기능 끝. 나중에 필요에 의해 제거할 것-->
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
<script>

  $(function() {
    $('#btn_1').click(function(){
      $('#table_n1').show();
      $('#table_n2').hide();
      $('#table_n3').hide();
    });

    $('#btn_2').click(function(){
      $('#table_n1').hide();
      $('#table_n2').show();
      $('#table_n3').hide();
    });

  })
    
  $(function() {
    var t1 = true;
    var t2 = false;
    var t3 = false;

    var t_n1 = true;
    var t_n2 = false;
    var t_n3 = false;
    $('#bt_1').click(function(){
      if(t1== true) {
        $('#table_1').show();
      $('#table_2').hide();
      $('#table_3').hide();
      $('#index').text("1");
      t1 = true;
      t2 = false;
      t3 = false;
      }
    else if(t2== true) {
      $('#table_1').show();
      $('#table_2').hide();
      $('#table_3').hide();
      $('#index').text("1");
      t1 = true;
      t2 = false;
      t3 = false;
    }
    else if(t3== true) {
      $('#table_1').hide();
      $('#table_2').show();
      $('#table_3').hide();
      $('#index').text("2");
      t1 = false;
      t2 = true;
      t3 = false;
    }});

    $('#bt_2').click(function(){
      if(t1== true) {
      $('#table_1').hide();
      $('#table_2').show();
      $('#table_3').hide();
      $('#index').text("2");
      t1 = false;
      t2 = true;
      t3 = false;
      
    }else if(t2== true) {
      $('#table_1').hide();
      $('#table_2').hide();
      $('#table_3').show();
      $('#index').text("3");
      t1 = false;
      t2 = false;
      t3 = true;

    }else if(t3== true) {
      $('#table_1').hide();
      $('#table_2').hide();
      $('#table_3').show();
      $('#index').text("3");
      t1 = false;
      t2 = false;
      t3 = true;
    }
    });

    $('#btn_1').click(function(){
      if(t_n1== true) {
        $('#table_n1').show();
      $('#table_n2').hide();
      $('#table_n3').hide();
      $('#index_n').text("1");
      t_n1 = true;
      t_n2 = false;
      t_n3 = false;

      }
    else if(t_n2== true) {
      $('#table_n1').show();
      $('#table_n2').hide();
      $('#table_n3').hide();
      $('#index_n').text("1");
      t_n1 = true;
      t_n2 = false;
      t_n3 = false;
      
    }
    else if(t_n3== true) {
      $('#table_n1').hide();
      $('#table_n2').show();
      $('#table_n3').hide();
      $('#index_n').text("2");
      t_n1 = false;
      t_n2 = true;
      t_n3 = false;
    }});

    $('#btn_2').click(function(){
      if(t_n1== true) {
      $('#table_n1').hide();
      $('#table_n2').show();
      $('#table_n3').hide();
      $('#index_n').text("2");
      t_n1 = false;
      t_n2 = true;
      t_n3 = false;
      
    }else if(t_n2== true) {
      $('#table_n1').hide();
      $('#table_n2').hide();
      $('#table_n3').show();
      $('#index_n').text("3");
      t_n1 = false;
      t_n2 = false;
      t_n3 = true;

    }else if(t_n3== true) {
      $('#table_n1').hide();
      $('#table_n2').hide();
      $('#table_n3').show();
      $('#index_n').text("3");
      t_n1 = false;
      t_n2 = false;
      t_n3 = true;
    }
    });
  })
</script>
  <script>
    /*펼쳐지는 메뉴 관련 Jquery 스크립트*/
      $(document).ready(function(){
        $(".menu>a").click(function(){
        $(this).next("ul").toggleClass("hide");
        });
        });
  </script>
<script>
  function jbFunc() {
    document.getElementById( 'jb' ).value = '80';
  }
</script>
  
</body>

</html>